.playlist-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.playlist-container-text {
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  margin: 0;
  border-radius: 50px 50px 0 0;
  font-size: 18px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  /* background-color: rgb(199, 24, 120); */
}

.flex-container > div {
  background-color: #9e242444;
  width: 300px;
  height: 300px;
  margin: 25px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  color: rgb(255, 255, 255);
  border-radius: 50px;
  transition: 0.75s;
}

.flex-container > div:hover {
  margin-top: 10px;
  transition: 0.4s;
  cursor: pointer;
}

h1 {
  color: white;
  margin: 80px 80px 0px 80px;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  h1 {
    color: white;
    margin: 380px 80px 0px 80px;
    text-align: center;
  }
}
